body{
    background-color: rgb(186, 170, 180);
}
h1{
    font-size: 60px;
    color: rgb(18, 13, 81);
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(53, 2, 2);
    text-align: justify;
}
img{
    width: 450px;
    height: 480px;
    margin: 50px;
    margin-left: 30px;
}